@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ebebeb;
    --primary-color: #ff6700cc;
    --text-color: #6c6d70cc;
    --black-color: #000000;
    --error-color: #ff000080;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #ebebeb;
        --primary-color: #ff6700cc;
        --text-color: #6c6d70cc;
        --black-color: #000000;
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100dvh;
    height: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
